{$SITE_ADDRESS} {
	encode zstd gzip

	rate_limit {
		zone by_address {
			key {remote_host}
			events 5
			window 1m
		}

		zone ors_minutely {
			match {
				method POST
			}
			key static
			events 40
			window 1m
		}

		zone ors_daily {
			match {
				method POST
			}
			key static
			events 2000
		}
	}

	# Should match a wildcard, temporary measure to keep dumb scans from using global rate limit unnecessarily
	# Host references virtual address from docker-compose
	reverse_proxy /route flipmap-backend:{$APP_PORT}
}
